annotated-types==0.7.0
Faker==33.1.0
greenlet==3.1.1
passlib==1.7.4
pydantic==1.10.19
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
